<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.livae.ff.app">

	<permission
		android:name="com.livae.ff.dev.gcm.permission.C2D_MESSAGE"
		android:protectionLevel="signature"/>

	<uses-permission android:name="com.livae.ff.dev.gcm.permission.C2D_MESSAGE"/>

	<application>

		<provider
			android:authorities="com.livae.ff.app.dev.provider.DataProvider"
			android:exported="false"
			android:name=".provider.DataProvider"/>

		<receiver
			android:name=".receiver.GcmBroadcastReceiver"
			android:permission="com.google.android.c2dm.permission.SEND">
			<intent-filter>
				<action android:name="com.google.android.c2dm.intent.RECEIVE"/>
				<category android:name="com.livae.ff.dev.gcm"/>
			</intent-filter>
		</receiver>

	</application>

</manifest>
